<center>
  <img
    src='https://www.smartmoles.com/site/dist/img/smart_moles.png'
    width='550px'
    height='350px'
  />
  <br />
  <strong>Smart Mole's Bilgilendirme Sistemi </strong>

  <p>{{name}} Merhaba,</p>
  <p>{{title}}</p>


  <p>{{subject}}</p>
  <p>{{bottomText}}</p>
  <a href='https://smartfarm.shop/auth/login'>Sisteme Giriş yapmak için buraya
    tıklayınız.</a>
  <p>
    <a href='https://www.smartmoles.com/'>SMART MOLE'S OFFICIAL WEBSITE</a>
  </p>
</center>